@model IEnumerable<LeaveManagementt.Models.LeaveDetail>

@{
    ViewBag.Title = "Index";
}



<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <h1>Leave Approval</h1>
    <hr />
    <table cellpadding="0" cellspacing="0">
        <tr>
            <th style="padding:10px;">EmployeeId</th>
            <th style="padding:10px;">Leave Status</th>
            <th style="padding:10px;">From Date</th>
            <th style="padding:10px;">To Date</th>
            <th style="padding:10px;">Leave Description</th>
            <th style="padding:10px;">Approval</th>
            <th style="padding:10px;">Rejection</th>
        </tr>

        @foreach (LeaveManagementt.Models.LeaveDetail detail in Model)
        {
            <tr>
                <td style="padding:10px;">@detail.Employee_Id</td>
                <td style="padding:10px;">@detail.LeaveStatus</td>
                <td style="padding:10px;">@detail.FromDate</td>
                <td style="padding:10px;">@detail.ToDate</td>
                <td style="padding:10px;">@detail.LeaveDescription</td>
                <td style="padding:10px;"><input class="StatusChange" type="button" value="Approve" onclick="location.href='@Url.Action("LeaveApproval", "Supervisor")'" @(detail.LeaveStatus != 1 ? "disabled='disabled'": "" ) /></td>
                <td style="padding:10px;"><input class="StatusChange" type="button" value="Reject" onclick="location.href='@Url.Action("LeaveRejection", "Supervisor")'" @(detail.LeaveStatus == 3 ? "disabled='disabled'":""  ) /></td>
            </tr>
        }

    </table>

</body>
</html>

@*<script src="~/Scripts/jquery-3.4.1.min.js"></script>

    <script>
        var btn = $('.StatusChange');
        $(document).ready(function () {
            if()
            $(btn).click(function () {
                $(btn).attr('hide', true);
                
            });
        });
    </script>*@